.header {
    grid-area: h;
    background-color: #909BAE;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    -moz-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}

.header img {
    width: 40px;
    padding: 10px;
}

.loginBlock {
    float: right;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.loginText{
    color: white;
    text-decoration: none;
}

.loginText:hover{
    color: #F4F4F4;
    text-decoration: none;
}