.descriptionBlock {
    padding: 10px;
}

.profileImage {
    height: 150px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactItem {
    padding-left: 10px;
}

.cancelButton{
    color: red;
    margin-left: 5px;
}

.validationError{
    color: red;
    border:1px solid firebrick;
}