.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: #F4F4F4;
    text-decoration: none;
}

.dialogs .dialogsItems .dialog {

}

.messages {
    padding: 10px;
}

.messages .message {

}

