.nav {
    grid-area: n;
    background-color: #B3BDD2;
    padding: 20px;
}

.item  {
    color: white;
    text-decoration: none;
}
.item:hover{
    color: #F4F4F4;
    text-decoration: none;
}

.active{
    color: #F4F4F4;
    text-decoration: none;
}

